extends layout

block content
  br
  ul(class='collection with-header')
    li(class='collection-header') 
      h5 投稿時の承諾事項
    li(class='collection-item') 投稿者は、投稿に関して発生する責任が全て投稿者に帰すことを承諾します。
    li(class='collection-item') 投稿者は、話題と無関係な広告の投稿に関して、相応の費用を支払うことを承諾します。
    li(class='collection-item') 投稿者は、投稿された内容及びこれに含まれる知的財産権、（著作権法第21条ないし第28条に規定される権利も含む）その他の権利につき（第三者に対して再許諾する権利を含みます。）、匿名ダイアリー運営者(Soichiro Yoshimura)に対し、無償で譲渡することを承諾します。ただし、投稿が別に定める削除ガイドラインに該当する場合、投稿に関する知的財産権その他の権利、義務は一定期間投稿者に留保されます。頒布及び翻訳する権利を投稿者に許諾します。また、投稿者は掲示板運営者(Soichiro Yoshimura)が指定する第三者に対して、一切の権利（第三者に対して再許諾する権利を含みます）を許諾しないことを承諾します。
    li(class='collection-item') 投稿者は、掲示板運営者(Soichiro Yoshimura)あるいはその指定する者に対して、著作者人格権を一切行使しないことを承諾します。
  br
